.vs/
HouseRentingSystem.Services/bin/
HouseRentingSystem.Services/obj/
HouseRentingSystem.Tests/bin/
HouseRentingSystem.Tests/obj/
HouseRentingSystem.Web/bin/
HouseRentingSystem.Web/obj/
.vs/HouseRentingSystem/v17/.futdcache.v2
.vs/HouseRentingSystem/v17/.suo
.vs/HouseRentingSystem/v17/.futdcache.v2
.vs/HouseRentingSystem/v17/.suo
HouseRentingSystem.Services/obj/Debug/net6.0/HouseRentingSystem.Services.AssemblyInfo.cs
HouseRentingSystem.Services/obj/Debug/net6.0/HouseRentingSystem.Services.AssemblyInfoInputs.cache
HouseRentingSystem.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
HouseRentingSystem.Tests/obj/Debug/net6.0/HouseRentingSystem.Tests.AssemblyInfo.cs
HouseRentingSystem.Tests/obj/Debug/net6.0/HouseRentingSystem.Tests.AssemblyInfoInputs.cache
HouseRentingSystem.Tests/obj/Debug/net6.0/HouseRentingSystem.Tests.csproj.AssemblyReference.cache
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.AssemblyInfo.cs
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.AssemblyInfoInputs.cache
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.csproj.AssemblyReference.cache
